version: "3.8"

services:
  php:
    build: .
    image: php_app_custom
    container_name: php_app
    volumes:
      - ./:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: always
    environment:
      MYSQL_HOST: mysql_db
      MYSQL_DATABASE: clube-fullstack
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: clube-fullstack
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
